--
-- PostgreSQL database dump
--

\restrict aiCvZmLughQQYQK7g7YToUbV0oNkSuWghXF5whb9cz3wnwe21nRrwbqTEANPMxU

-- Dumped from database version 16.13 (Ubuntu 16.13-0ubuntu0.24.04.1)
-- Dumped by pg_dump version 16.13 (Ubuntu 16.13-0ubuntu0.24.04.1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: r_luxai; Type: SCHEMA; Schema: -; Owner: pg_database_owner
--

CREATE SCHEMA r_luxai;


ALTER SCHEMA r_luxai OWNER TO pg_database_owner;

--
-- Name: SCHEMA r_luxai; Type: COMMENT; Schema: -; Owner: pg_database_owner
--

COMMENT ON SCHEMA r_luxai IS 'main scheme';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: companies; Type: TABLE; Schema: r_luxai; Owner: postgres
--

CREATE TABLE r_luxai.companies (
    id integer NOT NULL,
    createby bigint,
    createdate timestamp without time zone DEFAULT now(),
    updateby bigint,
    updatedate timestamp without time zone DEFAULT now(),
    name character varying(255) NOT NULL,
    country character varying(50),
    counterparty_type character varying(50),
    gisp text,
    website text,
    email text
);


ALTER TABLE r_luxai.companies OWNER TO postgres;

--
-- Name: COLUMN companies.counterparty_type; Type: COMMENT; Schema: r_luxai; Owner: postgres
--

COMMENT ON COLUMN r_luxai.companies.counterparty_type IS '╤В╨╕╨┐ ╨║╨╛╨╜╤В╤А╨░╨│╨╡╨╜╤В╨░ (╨┐╤А╨╛╨╕╨╖╨▓╨╛╨┤╨╕╤В╨╡╨╗╤М, ╨┤╨╕╤Б╤В╤А╨╕╨▒╤М╤О╤В╨╛╤А, ╨╕╨╜╤В╨╡╨│╤А╨░╤В╨╛╤А)';


--
-- Name: companies_id_seq; Type: SEQUENCE; Schema: r_luxai; Owner: postgres
--

CREATE SEQUENCE r_luxai.companies_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE r_luxai.companies_id_seq OWNER TO postgres;

--
-- Name: companies_id_seq; Type: SEQUENCE OWNED BY; Schema: r_luxai; Owner: postgres
--

ALTER SEQUENCE r_luxai.companies_id_seq OWNED BY r_luxai.companies.id;


--
-- Name: products; Type: TABLE; Schema: r_luxai; Owner: postgres
--

CREATE TABLE r_luxai.products (
    id integer NOT NULL,
    createby bigint,
    createdate timestamp without time zone DEFAULT now(),
    updateby bigint,
    updatedate timestamp without time zone DEFAULT now(),
    companies_id integer,
    article character varying(100),
    name character varying(255) NOT NULL,
    country character varying(50),
    category character varying(50) NOT NULL,
    price numeric(12,2) NOT NULL,
    stock_qty integer,
    brand character varying(100),
    model character varying(200),
    release_year smallint,
    screen_size numeric(4,1),
    cpu character varying(100),
    cpu_cores bigint,
    gpu character varying(100),
    ram_gb bigint,
    ram_type character varying(10),
    storage_gb bigint,
    storage_type character varying(10),
    os character varying(50),
    print_speed_ppm smallint,
    warranty_months smallint,
    attributes jsonb DEFAULT '{}'::jsonb NOT NULL,
    last_update timestamp without time zone DEFAULT now()
);


ALTER TABLE r_luxai.products OWNER TO postgres;

--
-- Name: COLUMN products.article; Type: COMMENT; Schema: r_luxai; Owner: postgres
--

COMMENT ON COLUMN r_luxai.products.article IS '╨░╤А╤В╨╕╨║╤Г╨╗ ╨┐╨╛╨╖╨╕╤Ж╨╕╨╕';


--
-- Name: COLUMN products.country; Type: COMMENT; Schema: r_luxai; Owner: postgres
--

COMMENT ON COLUMN r_luxai.products.country IS '╤Б╤В╤А╨░╨╜╨░ ╨┐╤А╨╛╨╕╨╖╨▓╨╛╨┤╤Б╤В╨▓╨░';


--
-- Name: COLUMN products.stock_qty; Type: COMMENT; Schema: r_luxai; Owner: postgres
--

COMMENT ON COLUMN r_luxai.products.stock_qty IS '╤Б╨║╨╛╨╗╤М╨║╨╛ ╨╡╤Б╤В╤М ╨▓ ╨╜╨░╨╗╨╕╤З╨╕╨╕';


--
-- Name: COLUMN products.screen_size; Type: COMMENT; Schema: r_luxai; Owner: postgres
--

COMMENT ON COLUMN r_luxai.products.screen_size IS '╨┤╨╕╨░╨│╨╛╨╜╨░╨╗╤М ╤Н╨║╤А╨░╨╜╨░';


--
-- Name: COLUMN products.storage_type; Type: COMMENT; Schema: r_luxai; Owner: postgres
--

COMMENT ON COLUMN r_luxai.products.storage_type IS 'hdd ╨╕╨╗╨╕ ssd';


--
-- Name: COLUMN products.print_speed_ppm; Type: COMMENT; Schema: r_luxai; Owner: postgres
--

COMMENT ON COLUMN r_luxai.products.print_speed_ppm IS '╤Б╨║╨╛╤А╨╛╤Б╤В╤М ╨┐╨╡╤З╨░╤В╨╕ ╨▓ ╨╝╨╕╨╜╤Г╤В╤Г';


--
-- Name: COLUMN products.warranty_months; Type: COMMENT; Schema: r_luxai; Owner: postgres
--

COMMENT ON COLUMN r_luxai.products.warranty_months IS '╤Б╤А╨╛╨║ ╨│╨░╤А╨░╨╜╤В╨╕╨╕';


--
-- Name: products_id_seq; Type: SEQUENCE; Schema: r_luxai; Owner: postgres
--

CREATE SEQUENCE r_luxai.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE r_luxai.products_id_seq OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: r_luxai; Owner: postgres
--

ALTER SEQUENCE r_luxai.products_id_seq OWNED BY r_luxai.products.id;


--
-- Name: tender_positions; Type: TABLE; Schema: r_luxai; Owner: postgres
--

CREATE TABLE r_luxai.tender_positions (
    id integer NOT NULL,
    createby bigint,
    createdate timestamp without time zone DEFAULT now(),
    updateby bigint,
    updatedate timestamp without time zone DEFAULT now(),
    tender_id integer,
    product_type character varying(50),
    country character varying(50),
    min_release_year smallint,
    screen_size numeric(4,1),
    min_cpu character varying(100),
    min_cpu_cores bigint,
    min_gpu character varying(100),
    min_ram_gb bigint,
    ram_type character varying(10),
    min_storage_gb bigint,
    storage_type character varying(10),
    os character varying(50),
    min_print_speed_ppm smallint,
    min_warranty_months smallint,
    attributes jsonb DEFAULT '{}'::jsonb NOT NULL,
    quantity integer NOT NULL,
    max_price numeric(12,2)
);


ALTER TABLE r_luxai.tender_positions OWNER TO postgres;

--
-- Name: tender_positions_id_seq; Type: SEQUENCE; Schema: r_luxai; Owner: postgres
--

CREATE SEQUENCE r_luxai.tender_positions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE r_luxai.tender_positions_id_seq OWNER TO postgres;

--
-- Name: tender_positions_id_seq; Type: SEQUENCE OWNED BY; Schema: r_luxai; Owner: postgres
--

ALTER SEQUENCE r_luxai.tender_positions_id_seq OWNED BY r_luxai.tender_positions.id;


--
-- Name: tenders; Type: TABLE; Schema: r_luxai; Owner: postgres
--

CREATE TABLE r_luxai.tenders (
    id integer NOT NULL,
    createby bigint,
    createdate timestamp without time zone DEFAULT now(),
    updateby bigint,
    updatedate timestamp without time zone DEFAULT now(),
    tender_number character varying(50) NOT NULL,
    published_at timestamp without time zone,
    closing_date timestamp without time zone,
    customer_name character varying(255),
    total_budget numeric(15,2),
    status character varying(20) DEFAULT 'new'::character varying
);


ALTER TABLE r_luxai.tenders OWNER TO postgres;

--
-- Name: tenders_id_seq; Type: SEQUENCE; Schema: r_luxai; Owner: postgres
--

CREATE SEQUENCE r_luxai.tenders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE r_luxai.tenders_id_seq OWNER TO postgres;

--
-- Name: tenders_id_seq; Type: SEQUENCE OWNED BY; Schema: r_luxai; Owner: postgres
--

ALTER SEQUENCE r_luxai.tenders_id_seq OWNED BY r_luxai.tenders.id;


--
-- Name: users; Type: TABLE; Schema: r_luxai; Owner: postgres
--

CREATE TABLE r_luxai.users (
    id integer NOT NULL,
    createby bigint,
    createdate timestamp without time zone DEFAULT now(),
    updateby bigint,
    updatedate timestamp without time zone DEFAULT now(),
    email character varying(255) NOT NULL,
    pass_hash character varying(255) NOT NULL,
    full_name character varying(255),
    is_active boolean DEFAULT true
);


ALTER TABLE r_luxai.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: r_luxai; Owner: postgres
--

CREATE SEQUENCE r_luxai.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE r_luxai.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: r_luxai; Owner: postgres
--

ALTER SEQUENCE r_luxai.users_id_seq OWNED BY r_luxai.users.id;


--
-- Name: companies id; Type: DEFAULT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.companies ALTER COLUMN id SET DEFAULT nextval('r_luxai.companies_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.products ALTER COLUMN id SET DEFAULT nextval('r_luxai.products_id_seq'::regclass);


--
-- Name: tender_positions id; Type: DEFAULT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.tender_positions ALTER COLUMN id SET DEFAULT nextval('r_luxai.tender_positions_id_seq'::regclass);


--
-- Name: tenders id; Type: DEFAULT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.tenders ALTER COLUMN id SET DEFAULT nextval('r_luxai.tenders_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.users ALTER COLUMN id SET DEFAULT nextval('r_luxai.users_id_seq'::regclass);


--
-- Data for Name: companies; Type: TABLE DATA; Schema: r_luxai; Owner: postgres
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: r_luxai; Owner: postgres
--

COPY r_luxai.products (id, createby, createdate, updateby, updatedate, companies_id, article, name, country, category, price, stock_qty, brand, model, release_year, screen_size, cpu, cpu_cores, gpu, ram_gb, ram_type, storage_gb, storage_type, os, print_speed_ppm, warranty_months, attributes, last_update) FROM stdin;
\.


--
-- Data for Name: tender_positions; Type: TABLE DATA; Schema: r_luxai; Owner: postgres
--

COPY r_luxai.tender_positions (id, createby, createdate, updateby, updatedate, tender_id, product_type, country, min_release_year, screen_size, min_cpu, min_cpu_cores, min_gpu, min_ram_gb, ram_type, min_storage_gb, storage_type, os, min_print_speed_ppm, min_warranty_months, attributes, quantity, max_price) FROM stdin;
\.


--
-- Data for Name: tenders; Type: TABLE DATA; Schema: r_luxai; Owner: postgres
--

COPY r_luxai.tenders (id, createby, createdate, updateby, updatedate, tender_number, published_at, closing_date, customer_name, total_budget, status) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: r_luxai; Owner: postgres
--

COPY r_luxai.users (id, createby, createdate, updateby, updatedate, email, pass_hash, full_name, is_active) FROM stdin;
-1	-1	2026-04-10 10:24:07.443688	-1	2026-04-10 10:24:07.443688	-	-	╨а╨░╨╖╤А╨░╨▒╨╛╤В╤З╨╕╨║	t
\.


--
-- Name: companies_id_seq; Type: SEQUENCE SET; Schema: r_luxai; Owner: postgres
--

SELECT pg_catalog.setval('r_luxai.companies_id_seq', 96, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: r_luxai; Owner: postgres
--

SELECT pg_catalog.setval('r_luxai.products_id_seq', 1, false);


--
-- Name: tender_positions_id_seq; Type: SEQUENCE SET; Schema: r_luxai; Owner: postgres
--

SELECT pg_catalog.setval('r_luxai.tender_positions_id_seq', 1, false);


--
-- Name: tenders_id_seq; Type: SEQUENCE SET; Schema: r_luxai; Owner: postgres
--

SELECT pg_catalog.setval('r_luxai.tenders_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: r_luxai; Owner: postgres
--

SELECT pg_catalog.setval('r_luxai.users_id_seq', 1, false);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: tender_positions tender_positions_pkey; Type: CONSTRAINT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.tender_positions
    ADD CONSTRAINT tender_positions_pkey PRIMARY KEY (id);


--
-- Name: tenders tenders_pkey; Type: CONSTRAINT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.tenders
    ADD CONSTRAINT tenders_pkey PRIMARY KEY (id);


--
-- Name: tenders tenders_tender_number_key; Type: CONSTRAINT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.tenders
    ADD CONSTRAINT tenders_tender_number_key UNIQUE (tender_number);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: companies fk_companies_users_createby; Type: FK CONSTRAINT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.companies
    ADD CONSTRAINT fk_companies_users_createby FOREIGN KEY (createby) REFERENCES r_luxai.users(id);


--
-- Name: companies fk_companies_users_updateby; Type: FK CONSTRAINT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.companies
    ADD CONSTRAINT fk_companies_users_updateby FOREIGN KEY (updateby) REFERENCES r_luxai.users(id);


--
-- Name: products fk_products_users_companies_id; Type: FK CONSTRAINT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.products
    ADD CONSTRAINT fk_products_users_companies_id FOREIGN KEY (companies_id) REFERENCES r_luxai.companies(id);


--
-- Name: products fk_products_users_createby; Type: FK CONSTRAINT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.products
    ADD CONSTRAINT fk_products_users_createby FOREIGN KEY (createby) REFERENCES r_luxai.users(id);


--
-- Name: products fk_products_users_updateby; Type: FK CONSTRAINT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.products
    ADD CONSTRAINT fk_products_users_updateby FOREIGN KEY (updateby) REFERENCES r_luxai.users(id);


--
-- Name: tender_positions fk_tender_positions_users_createby; Type: FK CONSTRAINT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.tender_positions
    ADD CONSTRAINT fk_tender_positions_users_createby FOREIGN KEY (createby) REFERENCES r_luxai.users(id);


--
-- Name: tender_positions fk_tender_positions_users_tender_id; Type: FK CONSTRAINT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.tender_positions
    ADD CONSTRAINT fk_tender_positions_users_tender_id FOREIGN KEY (createby) REFERENCES r_luxai.tenders(id);


--
-- Name: tender_positions fk_tender_positions_users_updateby; Type: FK CONSTRAINT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.tender_positions
    ADD CONSTRAINT fk_tender_positions_users_updateby FOREIGN KEY (updateby) REFERENCES r_luxai.users(id);


--
-- Name: tenders fk_tenders_users_createby; Type: FK CONSTRAINT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.tenders
    ADD CONSTRAINT fk_tenders_users_createby FOREIGN KEY (createby) REFERENCES r_luxai.users(id);


--
-- Name: tenders fk_tenders_users_updateby; Type: FK CONSTRAINT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.tenders
    ADD CONSTRAINT fk_tenders_users_updateby FOREIGN KEY (updateby) REFERENCES r_luxai.users(id);


--
-- Name: users fk_users_users_createby; Type: FK CONSTRAINT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.users
    ADD CONSTRAINT fk_users_users_createby FOREIGN KEY (createby) REFERENCES r_luxai.users(id);


--
-- Name: users fk_users_users_updateby; Type: FK CONSTRAINT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.users
    ADD CONSTRAINT fk_users_users_updateby FOREIGN KEY (updateby) REFERENCES r_luxai.users(id);


--
-- Name: products products_companies_id_fkey; Type: FK CONSTRAINT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.products
    ADD CONSTRAINT products_companies_id_fkey FOREIGN KEY (companies_id) REFERENCES r_luxai.companies(id);


--
-- Name: tender_positions tender_positions_tender_id_fkey; Type: FK CONSTRAINT; Schema: r_luxai; Owner: postgres
--

ALTER TABLE ONLY r_luxai.tender_positions
    ADD CONSTRAINT tender_positions_tender_id_fkey FOREIGN KEY (tender_id) REFERENCES r_luxai.tenders(id);


--
-- PostgreSQL database dump complete
--

\unrestrict aiCvZmLughQQYQK7g7YToUbV0oNkSuWghXF5whb9cz3wnwe21nRrwbqTEANPMxU

